*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.h11{
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #333,0 0 10px #222,0 0 20px #111;
    font-size: 5rem;
}